* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --hover-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --border-color: rgb(122, 0, 56);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --hover-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
    --border-color: rgb(237, 181, 236);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
    overflow: hidden;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    position: relative;
    text-align: center;
    padding: 24px;

}

#profile img{
    position: relative;
    width: 100px;
    margin: auto;

    z-index: 1;

}

.borderImg {
    position: absolute;
    right: 218px;
    top: 21px;
    background-image: linear-gradient(var(--border-color),var(--border-color));
    width: 105px;
    height: 105px;
    animation: spinning 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px var(--border-color), 0px 5px 20px 0px var(--border-color);

    z-index: 0;
}

#profile p {
    margin-top: 8px;
    padding: 8px;
}

#switch {
    position: relative;
    width: 65px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    animation: slide-out 0.4s forwards;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
}

#redes{
    margin-top: 24px;
}

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 15px;

}

ul li a{
    display: flex;
    padding: 15px;
    justify-content: center;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 10px;

    text-decoration: none;
    font-weight: 500;

    transition: all 0.5s;

}

ul li a:hover {
    background: var(--hover-color);
    border: 1.5px solid var(--text-color);
}

li .content{
    text-align: center;
}

#socials {
    display: flex;
    gap: 10px;
    justify-content: center;

    margin: 20px 0;


    font-size: 28px;
}

#socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    transition: all 0.5s;
}

#socials a:hover {
    background: var(--hover-color);
    padding: 16px;
    border-radius: 80px;
}

footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 24px 0;
}

footer a {
    text-decoration: none;
}


@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }

}

@keyframes spinning {
    to {
      transform: rotate(360deg);
    }
  }

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}